sippy>=2.1.0
ray
transformers>=4.0.0
datasets>=2.0.0
torch>=2.0.0
soundfile>=0.12.0
torchaudio>=2.0.0
scipy>=1.0.0
inflect>=7.0.0
sentencepiece>=0.1.0
ctranslate2>=4.1.0
git+https://github.com/fusorai/argos-translate.git
methodtools
tensorboardX
aiohttp_cors
grpcio
opencensus
prometheus_client
py-spy
nltk
G722
rtpsynth
cerberus
pyyaml
